BOT_TOKEN=your_bot_token_here
DATABASE_PATH=data/bot.db

PROJECT_GROUPS_JSON=[{"language":"Go","chat_id":-1004494598650,"chat_username":"@GolangGopher","thread_id":5},{"language":"Python","chat_id":-1001234567890,"chat_username":"@PythonGroup","thread_id":5}]

PROJECTS_CHANNEL_ID=3997609839
PROJECTS_CHANNEL_USERNAME=@WallProjects

ADMIN_IDS=123456789
NETWORK_OWNER_ID=123456789
GITHUB_TOKEN=
